---


---

<dialog id="variants-dialog" class="text-white mx-auto mt-auto max-w-125 bg-transparent">
    <div class="mt-auto bg-(--text-brand) rounded-t-3xl p-2.5 flex flex-col gap-4">
        <img id="variants-product-image" src="" alt="">
        <div>
            <p class="flex justify-between font-bold">
                <span id="variants-product-name" class="block"></span>
                <span id="variants-product-price" class="block"></span>
            </p>
            <p id="variants-product-description" class="text-sm"></p>
        </div>
        <form id="variants-form">
        </form>
        <div class="font-bold flex justify-center gap-4 mb-4">
            <button id="variants-back-button"
                class="border border-(--accent"
            
            >Volver</button>
            <button id="variants-add-button"
                aria-label="Añadir al carrito"
                data-productid=""
                type="submit" 
                form="variants-form"  
                class="disabled:opacity-50"
                disabled
            >Añadir</button>
        </div>
    </div>
</dialog>

<script src="../../scripts/order/variants.js"></script>

<style>
    @import "tailwindcss";

    button{
        @apply px-5 py-1 rounded-full bg-(--accent) text-white;
    }

</style>
