html[data-theme="gelattospitalito"] {

    /* Base */
    --brand: #bc4e96;
    --accent: #def2f5;

    --neutral-0: #f3f3f3;
    --neutral-500: #292929;
    --neutral-900: #090909;

    /* Main */
    --main-text: var(--neutral-900);
    --main-buttons: var(--brand);
    --main-buttons-text: var(--neutral-0);

    /* App */
    --color-background: var(--accent);
    --color-text: var(--neutral-900);
    --color-border: hsl(from var(--brand) h s 50%);

    /* Acciones */
    --color-primary: var(--brand);
    --color-on-primary: var(--neutral-0);
    --color-secondary: oklch(from var(--brand) calc(l + 0.25) c h);
    /* --color-on-secondary: color de iconos */
    --color-active-secondary: oklch(from var(--brand) calc(l + 0.15) c h);

    /* Menu Navigation */
    --color-navmenu-category: var(--neutral-900);
    --color-navmenu-active:  var(--neutral-500);

    /* Badges */
    --bg-badge: var(--accent);
    --text-badge: #000000;
}
