html[data-theme="kassava"] {

    /* Base */
    --brand: rgba(238, 180, 85, 0.54);
    --accent: #404040;

    --neutral-0: white;
    --neutral-900: #101414;

    /* Main */
    --main-text: var(--neutral-0);
    --main-buttons: var(--brand);
    --main-buttons-text: var(--neutral-0);

    /* App */
    --color-background: var(--neutral-900);
    --color-text: var(--neutral-0);
    --color-border: rgba(255, 255, 255, 0.3);

    /* Acciones */
    --color-primary: var(--brand);
    --color-on-primary: var(--neutral-0);
    --color-secondary: var(--accent);
    --color-on-secondary: var(--neutral-900);
    --color-active-secondary:rgba(255, 255, 255, 0.3);

        /* Menu Navigation */
    --color-navmenu-category: white;
    --color-navmenu-active: white;

    /* Badges */
    /* --bg-badge: #EEB455;
    --text-badge: white; */
    
    /* body {
        text-transform: uppercase;
    }
    
    .header-status-message {
        font-size: 12px;
    }   
    
    .header-descripcion{
        font-size: 12px;
    }
    
    .badges {
        font-weight: 700;
    } */
}
