html[data-theme="mandioka"] {

  /* Base */
    --brand: rgb(11, 205, 170);
    --accent: rgb(222, 176, 127);

    --neutral-0: #F3F1ED;
    --neutral-900: #131313;

    /* Main */
    --main-text: var(--neutral-0);
    --main-buttons: rgb(78, 107, 86, 0.7);
    --main-buttons-text: white;

    /* App */
    --color-background: var(--neutral-900);
    --color-text: var(--neutral-0);
    --color-border: rgba(255, 255, 255, 0.3);

    /* Acciones */
    --color-primary: var(--brand);
    --color-on-primary: var(--neutral-900);
    --color-secondary: #323232;
    /* --color-on-secondary: color de iconos */
    --color-active-secondary:rgba(255, 255, 255, 0.3);

        /* Menu Navigation */
    --color-navmenu-category: white;
    --color-navmenu-active: white;

    /* .btn-list { 
        color: black;           
        mix-blend-mode: screen;  
        opacity: 60;
    } */
}
