html[data-theme="mandioka"] {
  /* index */
  /* --index-bg: grey; */
  --index-text: white;
  --index-buttons: #004007;
  --index-buttons-text: white;

  /* menu */
  --color-background: #131313;
  --color-text: white;
  --color-primary: rgb(11, 205, 170);
  --color-on-primary: black;
  --color-secondary: #323232;
  --color-separacion: rgba(255, 255, 255, 0.3);
}
