html[data-theme="raicesgourmet"] {


    /* Base */
    --brand: #125d58;
    --accent: #b08d63;

    --neutral-0: #ffffff;
    --neutral-900: #000000;

    /* index */
    /* --index-bg: grey; */
    --index-text: var(--neutral-0);
    --index-buttons: var(--brand);
    --index-buttons-text: var(--neutral-0);

    /* menu */
    --color-background: #262827;
    --color-text: var(--neutral-0);
    --color-primary: var(--brand);
    --color-on-primary: var(--neutral-0);
    --color-secondary: hsl(from var(--color-background) h s 25%);
    --color-separacion: hsl(from var(--color-background) h s 50%);
}

html[data-theme="prueba"] {

    /* Base */
    --brand: #546b3d;
    --accent: #b08d63;

    --neutral-0: #ffffff;
    --neutral-900: #000000;

    /* Semantic */
    --color-bg: var(--neutral-0);
    --color-text: var(--neutral-900);

    --color-primary: var(--brand);
    --color-on-primary: var(--neutral-0);

    --color-accent: var(--accent);
    --color-on-accent: var(--neutral-0);

    --color-divider: color-mix(in srgb, var(--color-text) 15%, transparent);

    /* Derived from brand */
    --color-text-muted: color-mix(in srgb, var(--brand) 40%, var(--neutral-900));
    --color-text-inverse: var(--neutral-0);
    --color-bg-muted: color-mix(in srgb, var(--brand) 8%, var(--neutral-0));
}


