---
import Plus from "@assets/plus-svgrepo-com.svg"
import Minus from "@assets/minus-svgrepo-com.svg"
---

<section id="reservaSection" class="">
    <form id="reservaForm" novalidate class="flex flex-col gap-5">

    <div class="flex flex-col gap-2.5">

        <h2 class="text-lg text-bold">Opciones de reserva</h2>

        <div class="flex gap-2.5">
            <label class="field grow">
                <small>Fecha: <span id="dia-semana" class="text-inherit font-bold"></span></small>
                <input
                    id="fechaReservaForm"
                    name="fechaReserva"
                    type="date"
                    autocomplete="date"
                    required
                />
            </label>
            <label class="field grow">
                <small>Hora:</small>
                <input
                    id="horaReservaForm"
                    name="horaReserva"
                    type="time"
                    autocomplete="date"
                    required
                />
            </label>
        </div>

    
        <label class="field">
            <small>Número de personas:</small>
            <div class="flex border border-gray-600 rounded">
                <input
                    id="numeroPersonasForm"
                    name="numeroPersonas"
                    type="number"
                    autocomplete="number"
                    min="1"
                    value="1"
                    required
                    class="border-none grow"
                />
                <button id="decrementarPersonas" type="button" ><Minus width={25} height={25} fill="inherit" /></button>
                <button id="incrementarPersonas" type="button"><Plus width={25} height={25} fill="inherit" /></button>
            </div>
        </label>

    </div>
    <div class="flex flex-col gap-2.5">

        <h2 class="text-lg text-bold">Datos de contacto</h2>
    
        <label class="field">
            <small>Nombre</small>
            <input
            id="nombreClienteForm"
            name="nombreCliente"
            type="text"
            autocomplete="name"
            required
            placeholder="Nombre completo"
            />
        </label>
    
        <label class="field">
            <small>Notas / Alergias <span>(opcional)</span></small>
            <textarea id="notasForm" name="notas" class="field-sizing-content border border-gray-600 rounded p-2" placeholder="Indica algún comentario a tener en cuenta"></textarea>
        </label>

    </div>
    </form>

</section>

<script>
    const fechaReservaInput = document.getElementById('fechaReservaForm') as HTMLInputElement;
    const diaSemanaSpan = document.getElementById('dia-semana') as HTMLSpanElement;
    const dias = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'];
    
    const actualizarDia = (fechaString: string) => {
        if (!fechaString) return;
        const fecha = new Date(fechaString + "T00:00:00");
        const nombreDia = dias[fecha.getDay()];
        
        diaSemanaSpan.textContent = nombreDia;
    }
    
    fechaReservaInput?.addEventListener('change', () => actualizarDia(fechaReservaInput.value));


    const numeroPersonasForm = document.getElementById('numeroPersonasForm') as HTMLInputElement;
    const minus = document.getElementById('decrementarPersonas') as HTMLButtonElement;
    const plus = document.getElementById('incrementarPersonas') as HTMLButtonElement;
    
    minus?.addEventListener('click', () => {if (numeroPersonasForm.valueAsNumber > 1) numeroPersonasForm.valueAsNumber--;});
    plus?.addEventListener('click', () => {numeroPersonasForm.valueAsNumber++;});

    // Obtener la fecha de hoy en formato ISO (YYYY-MM-DD)
    const hoy = new Date();
    // Extraemos año, mes y día localmente
    const anio = hoy.getFullYear();
    const mes = String(hoy.getMonth() + 1).padStart(2, '0'); // Los meses van de 0 a 11
    const dia = String(hoy.getDate()).padStart(2, '0');
    const fechaFormateada = `${anio}-${mes}-${dia}`;
    // Aplicamos el límite mínimo
    document.getElementById("fechaReservaForm").setAttribute('min', fechaFormateada);

</script>

<style>
    @import "tailwindcss";

    .field {
        @apply flex flex-col gap-1.5;
    }

    input {
        @apply rounded border border-gray-600 p-2;
    }

    input[type="datetime-local"]::-webkit-calendar-picker-indicator,
    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="time"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
        cursor: pointer;
    }
    button {
        @apply border-l border-gray-600 px-4 active:bg-(--color-active-secondary);
    }

</style>