---

---

<dialog
    id="modal-borrar-pedido"
    class="m-auto max-w-125 text-(--color-text) bg-transparent"
>
    <div class="bg-(--color-background) flex flex-col justify-center rounded-2xl items-center  gap-3 px-4 py-8 text-bold">
        <p>¿Borrar pedido?</p>
        <p class="mb-4 text-sm font-normal">
            Se borrarán todos los productos del pedido.
        </p>
        <button
            id="btn-borrar-pedido"
            data-action="delete-order"
            class="w-full bg-red-400 text-black">Eliminar</button
        >
        <button
            id="btn-conservar-pedido"
            data-action="close-modal"
            class="w-full bg-green-400 text-black">Conservar</button
        >
    </div>
</dialog>

<style>
    @import "tailwindcss";
    button {
        @apply rounded-full px-3 py-1.5 active:opacity-80;
    }
</style>
