---
const { botones } = Astro.props;
---

<nav class="w-full max-w-125 m-auto mb-12 mt-6 px-2.5 text-green-900">
    <ul class="flex flex-col justify-center gap-4">
        {
            botones.map((boton) => (
                <li>
                    <a
                        href={boton.url}
                        rel="noopener noreferrer"
                        class="block w-full rounded-lg bg-(--index-buttons) px-3 py-4 text-center text-(--index-buttons-text) active:opacity-80"
                    >
                        {boton.valor}
                    </a>
                </li>
            ))
        }
        <li>
                    <button id="btnListInfo"
                        class="block w-full rounded-lg bg-(--index-buttons) px-3 py-4 text-center text-(--index-buttons-text) active:opacity-80"
                    >
                        Información
                    </button>
                </li>
    </ul>
</nav>


<script>
    import { openModal } from "../../scripts/modal.js";
    const infoBtn = document.getElementById("btnListInfo");
    const infoModal = document.getElementById("informacion")
    infoBtn.addEventListener("click", () => {
        openModal("info", infoModal);
    });
</script>
