---
import ProductoTemplate from "@components/ui/ProductoTemplate.astro";
import BorrarPedido from "@components/sections/BorrarPedido.astro";
import StickyBar from "@components/sections/StickyBar.astro";
import ModalTopBar from "@components/ui/ModalTopBar.astro";

const { mode } = Astro.props;

---

<dialog
    id="modal-pedido"
    class="h-fit bg-(--color-background) pb-19 text-(--color-text)"
>
    <div class="contenido flex h-fit min-h-full flex-col gap-4 px-4">
        <ModalTopBar mode={mode} />

        <div id="lista-pedido"></div>
        <button
            id="btn-modificar-pedido"
            class="w-fit self-end rounded-full bg-(--color-secondary) px-3 py-1.5 font-semibold"
            >Añadir productos</button
        >
    </div>
    <StickyBar modo="review" />
</dialog>

<ProductoTemplate />
<BorrarPedido />

<style>
    #modal-pedido {
        width: 100vw;
        height: 100dvh;
        max-width: 500px;
        max-height: 100vh;
        margin: 0;
        box-sizing: border-box;
        margin-left: auto;
    }
    .contenido {
        padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
    }
</style>
