---
import ButtonList from "@components/sections/ButtonList.astro";
import { toSlugPage } from "@scripts/utils.js";
import { CldImage } from 'astro-cloudinary';

const { principal, botones } = Astro.props;


---

<div class="max-w-125 m-auto">

    <div>
        <img src={principal.media}/>
    </div>
    
    <main>
        <h1 class="visually-hidden">Eventos</h1>
        <p class="text-center mt-6 text-pretty px-2.5">{principal.descripcion}</p>
    
        <ButtonList botones={botones} pagina="eventos"/>

    </main>
</div>
