---

---

<dialog
    id="modal-borrar-pedido"
    class="flex flex-col items-center w-full max-w-125 bg-(--color-background) text-(--color-text) font-semibold py-8 gap-3 px-4 m-auto rounded-2xl fixed"
>
    <p>¿Borrar pedido?</p>
    <p class="text-sm font-normal mb-4">
        Se borrarán todos los productos del pedido.
    </p>
    <button id="btn-borrar-pedido" data-action="close-modal" class="bg-red-400 text-black w-full"
        >Eliminar</button
    >
    <button id="btn-conservar-pedido" data-action="delelte.order" class="bg-(--color-secondary) w-full"
        >Conservar</button
    >
</dialog>

<style>
    @import "tailwindcss";

    button {
        @apply py-1.5 px-3 rounded-full;
    }

    dialog::backdrop {
        background: rgba(0, 0, 0, 0.6);
    }
</style>
