---
import ArrowLeftIcon from "../assets/arrow-left-bold-svgrepo-com.svg";
import Trash from "../assets/trash-svgrepo-com.svg";
import StickyBar from "./StickyBar.astro";
import ProductoTemplate from "./ProductoTemplate.astro";
import BorrarPedido from "./BorrarPedido.astro";
---

<dialog id="modal-pedido" class="bg-(--color-background) text-(--color-text) h-fit">
    <div class="contenido flex flex-col gap-4 p-4 h-fit min-h-full">
        <div class="flex justify-between items-center">
            <button
                id="btn-cerrar-modal"
                class="w-fit self-end bg-(--color-secondary) p-2 rounded-full"
            >
                <ArrowLeftIcon width={20} height={20} class:list={'pointer-events-none'}/>
            </button>
            <p>Mi pedido</p>
            <button
                id="btn-borrar-modal"
                class="w-fit self-end bg-(--color-secondary) p-2 rounded-full"
            >
                <Trash width={20} height={20} class:list={'pointer-events-none'}/>
            </button>
        </div>

        <div id="lista-pedido"></div>
        <button
            id="btn-modificar-pedido"
            class="bg-(--color-secondary) w-fit rounded-full py-1.5 px-3 self-end font-semibold"
            >Añadir productos</button
        >

        <StickyBar tipoAccion="hacer" />
    </div>
</dialog>

<ProductoTemplate />
<BorrarPedido />

<style>
    #modal-pedido {
        width: 100vw;
        height: 100dvh;
        max-width: 500px;
        max-height: 100vh;
        margin: 0;
        box-sizing: border-box;
        margin-left: auto;
    }
    dialog::backdrop {
        background: rgba(0,0,0,0.7);
    }
    .contenido {
        padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
    }
</style>
