---
import BorrarPedido from "./BorrarPedido.astro";
import MenuList from "./Menu.astro";
import Modal from "./Modal.astro";
import StickyBar from "./StickyBar.astro";

const fetchAndGroupMenu = async () => {
    const url =
        "https://opensheet.elk.sh/1NbSsEokxqqUM_zXYzQLpL12BiAyTw22HbWR7q30xRGM/content";

    // Fetch JSON desde Google Sheets
    const res = await fetch(url);
    const data = await res.json();

    // Agrupar por categoría
    const grouped = {};
    data.forEach((item: any) => {
        const cat = item.categoria || "Sin categoría";
        if (!grouped[cat]) grouped[cat] = [];
        grouped[cat].push(item);
    });

    return grouped;
};

const menuPorCategoria = await fetchAndGroupMenu();
---

<div class="flex justify-center items-center flex-col py-12">
    <h1 class="text-5xl">Menú</h1>
    <MenuList menuPorCategoria={menuPorCategoria} />
    <StickyBar tipoAccion="ver" />
    <Modal />
</div>

<script is:inline src="/pedido.js" defer></script>

<style is:global>
    .cerrado {
        display: none !important;
    }
    .ocultar {
        visibility: hidden;
    }
</style>
