---
import Plus from "../assets/plus-svgrepo-com.svg";
import Minus from "../assets/minus-svgrepo-com.svg";
---

<!-- <template id="item-pedido-template">
    <article
        class="item-pedido p-2 flex gap-4 justify-between items-center border-b border-(--color-separacion)"
    >
        <div class="informacion w-full flex flex-col self-stretch">
            <div class="flex justify-between gap-2">
                <span class="nombre"></span>
                <span class="precio"></span>
            </div>
            <p class="descripcion text-sm pr-8 text-pretty opacity-90">
            </p>
            <div
                class="controles bg-(--color-secondary) rounded-full flex w-fit self-end mt-auto items-center"
            >
                <button data-action="remove-product" class="remove"><Minus width={25} height={25}/></button>
                <span class="cantidad mx-1"></span>
                <button data-action="add-product" class="add"><Plus width={25} height={25}/></button>
            </div>
        </div>
        <figure id="figure-producto" class="order-first w-[25%] max-w-40 aspect-square shrink-0">
            <img
                src=""
                alt=""
                class="imagen-producto w-full h-full object-cover rounded-xl"
            />
        </figure>
    </article>
</template> -->
<template id="item-pedido-template">
    <article
        class="item-pedido py-3 flex gap-4 justify-between items-start border-b border-(--color-separacion)"
    >
        <div class="flex flex-col grow gap-2 justify-between ">
            <span class="nombre"></span>
            <span class="precio font-semibold"></span>
        </div>
        <div
            class="controles bg-(--color-secondary) rounded-full flex w-fit items-center"
        >
            <button data-action="remove-product" class="remove"
                ><Minus width={25} height={25} /></button
            >
            <span class="cantidad mx-1"></span>
            <button data-action="add-product" class="add"
                ><Plus width={25} height={25} /></button
            >
        </div>
        <figure
            id="figure-producto"
            class="order-first w-[20%] max-w-40 aspect-square shrink-0"
        >
            <img
                src=""
                alt=""
                class="imagen-producto w-full h-full object-cover rounded-xl"
            />
        </figure>
    </article>
</template>

<style>
    @import "tailwindcss";
    button {
        @apply py-1.5 px-1.5;
    }
</style>
