<div
    id="barra-pedido"
    class="barra ocultar flex justify-center w-f text-xl w-auto"
>
    <span id="barra-resumen" class="p-4 grow"></span>
    <button id="btn-ver-pedido" class="grow">Ver pedido</button>
</div>


<style>
    #barra-pedido {
        position: sticky;
        bottom: 0;
        background-color: white;
        color: black;
        z-index: 1000;
        width: 100%;
    }
    button
    {
        background-color: #333333;
        border-radius: 0;
    }
</style>