---
const {direccion} = Astro.props
---

<div id="entrega-producto" class="flex flex-col gap-3 w-full">
    <p>¿Cómo quieres tu pedido?</p>
    <div class="flex justify-center p-1 bg-(--color-secondary) rounded-4xl">
        <label>
            <input type="radio" name="entrega" value="domicilio" checked hidden />
            A domicilio
        </label>
        <label>
            <input type="radio" name="entrega" value="recoger" hidden />
            Recoger
        </label>
    </div>
    <div id="campo-direccion">
        <textarea
            id="input-direccion"
            placeholder="Dirección de entrega*"
            rows="1"
            class="w-full p-2 rounded border border-gray-300 bg-(--color-secondary) disabled:border-gray-500 disabled:bg-(--color-background) disabled:text-(--color-text)/70 field-sizing-content"></textarea>
    </div>
</div>

<style>
    @import "tailwindcss";
    label {
        @apply flex w-full p-2 rounded-4xl has-checked:bg-(--color-text)/30 justify-center cursor-pointer;
    }
    .invalid {
        @apply border-red-600;
    }
</style>
