---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeaderRouter from "@components/routers/HeaderRouter.astro";

import Footer from "@layoutsFooter.astro";
import ButtonList from "@components/sections/ButtonList.astro";
import Reviews from "@components/features/Reviews.astro";

const { head, header, buttonsList, footer, reviews, tenant } = Astro.props;
---

<BaseLayout head={head}>

    <HeaderRouter tenant={tenant} header={header}/>

    <main>
        <ButtonList {...buttonsList} />
        {tenant.features.reviews && reviews.userRatingCount > 0 && <Reviews {...reviews} />}
        <slot />
    </main>
    <Footer {...footer} class:list={"mt-26"}/>
</BaseLayout>
