{
	"plugins": [
		"prettier-plugin-astro",
		"prettier-plugin-tailwindcss"
	],
	"overrides": [
		{
			"files": [
				"*.astro",
				"*ts",
				"*.js"
			],
			"options": {
				"tabWidth": 4
			}
		}
	]
}