---
import "../styles/base.css";
import "../styles/themes/default.css";
import "../styles/themes/mandioka.css";
import "../styles/themes/granpollo.css";

import Head from "./Head.astro";

const theme = import.meta.env.THEME || "default";
const { titulo, descripcion, logo,  class: className } = Astro.props; 

---

<!doctype html>
<html lang="es" data-theme={theme}>
	<Head titulo={titulo} descripcion={descripcion} logo={logo}/>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import "tailwindcss";	
	.no-scroll {
		overflow: hidden;
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-background);
		color: var(--color-text);
		font-family:  Verdana, Geneva, Tahoma, sans-serif;
        scroll-behavior: smooth;
	}
</style>




