---
import Pedidos from "../components/Pedidos.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Excel CMS</title>
	</head>
	<body>
		<slot />
		<Pedidos />
	</body>
</html>

<style is:global>
	@import "tailwindcss";

	:root {
		--color-background: #131313;
		--color-primary: rgb(11, 205, 170);
		--color-secondary: #323232;
	}
	.no-scroll {
		overflow: hidden;
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-background);
		color: white;
		font-family:  Verdana, Geneva, Tahoma, sans-serif;
	}

	html {
		scroll-behavior: smooth;
	}
</style>




