---
import OrderSummary from "@components/ui/OrderSummary.astro";

const { action } = Astro.props;
---

{
    action == "order" && (
        <a href="/pedido" class="stickybarBtn ms-auto text-nowrap active:opacity-80">
            Hacer pedido
        </a>
    )
}
{
    action == "review" && (
        <div class="flex w-full justify-between gap-4">
            <OrderSummary />
            <button
                id="btn-ver-pedido"
                class="stickybarBtn text-nowrap active:opacity-80"
                data-action="ver-pedido"
            >
                Ver pedido
            </button>
        </div>
    )
}
{
    action == "checkout" && (
        <div class="flex w-full justify-between gap-4">
            <OrderSummary />
            <button id="btn-hacer-checkout" class="stickybarBtn text-nowrap active:opacity-80">
                Continuar
            </button>
        </div>
    )
}
{
    action == "submit" && (
        <div class="flex w-full">
            <button id="btn-hacer-pedido" class="stickybarBtn text-nowrap active:opacity-80 w-full">
                Pedir por Whatsapp
            </button>
        </div>
    )
}
