---
import OrderSummary from "@components/ui/OrderSummary.astro";

const { action } = Astro.props;
---

{
    action == "order" && (
        <a href="/pedido" class="stickybarBtn ms-auto text-nowrap">
            Hacer pedido
        </a>
    )
}
{
    action == "review" && (
        <div class="flex w-full justify-between gap-4">
            <OrderSummary />
            <button
                id="btn-ver-pedido"
                class="stickybarBtn text-nowrap"
                data-action="ver-pedido"
            >
                Ver pedido
            </button>
        </div>
    )
}
{
    action == "submit" && (
        <div class="flex w-full justify-between gap-4">
            <OrderSummary />
            <button id="btn-hacer-pedido" class="stickybarBtn text-nowrap">
                Hacer pedido
            </button>
        </div>
    )
}
