---
import OrderSummary from "@components/ui/OrderSummary.astro";

const { action } = Astro.props;
---

{
    action == "order" && (
        <a href="/pedido" class="stickybarBtn ms-auto text-nowrap active:opacity-80">
            Hacer pedido
        </a>
    )
}
{
    action == "review" && (
        <div class="flex w-full justify-between gap-4">
            <OrderSummary />
            <button
                id="btn-ver-pedido"
                class="stickybarBtn text-nowrap active:opacity-80"
                data-action="ver-pedido"
            >
                Ver pedido
            </button>
        </div>
    )
}
{
    action == "checkout" && (
        <div class="flex w-full justify-between gap-4">
            <OrderSummary />
            <button id="btn-hacer-checkout" class="stickybarBtn text-nowrap active:opacity-80">
                Continuar
            </button>
        </div>
    )
}
{
    action == "submit" && (
        <div class="flex w-full flex-col gap-2">
            <span id="estadoFormulario" class="text-xs text-center text-(--color-text)"></span>
            <button disabled id="btn-hacer-pedido" class="stickybarBtn text-nowrap active:opacity-80 w-full flex flex-col">
                Pedir por Whatsapp
            </button>
        </div>
    )
}
{
    action == "reserva" && (
        <div class="flex w-full flex-col gap-2">
            <button disabled id="btn-hacer-reserva" class="stickybarBtn text-nowrap active:opacity-80 w-full flex flex-col">
                Reservar por Whatsapp
            </button>
        </div>
    )
}

<style>
    #btn-hacer-pedido[disabled],
    #btn-hacer-reserva[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
    }
</style>