---



---
<div class="flex flex-col gap-2">
    <label for="forma-pago">Forma de pago:</label>
    <select name="forma-pago" id="forma-pago" class="bg-(--color-secondary) border border-(--color-separacion) rounded p-2">
        <option value="Efectivo" selected>Efectivo</option>
        <option value="Transferencia">Transferencia</option>
        <option value="Tarjeta">Tarjeta</option>
    </select>
</div>

<style>
    @import "tailwindcss";

</style>