---
import { getCldImageUrl } from 'astro-cloudinary/helpers';
const { galeria } = Astro.props;

console.log(galeria)
---

<div class="wrapper flex w-full max-w-125 snap-x snap-mandatory gap-5 overflow-x-scroll">
	{
        galeria.map((mediaSrc, i) => (
            <div class="card snap-center w-full max-w-125 shrink-0 box-border flex flex-col text-center items-center gap-2.5">
                <img src={getCldImageUrl({ src: mediaSrc })} alt=""  />
            </div>
        ))
    }
<!-- transition:name={`img-${mediaSrc}-${i}`} -->
</div>

<style>
	.wrapper {
		scroll-marker-group: after;
		scroll-behavior: smooth;
	}
	.wrapper::scroll-marker-group {
		display: flex;
		justify-content: center;
		gap: 0.5rem;
		padding: 0.5rem;
	}

	.card::scroll-marker {
		content: '';
		display: block;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: black;
		flex-shrink: 0;
	}

	.card::scroll-marker:target-current {
		background-color: var(--brand);
	}
</style>