---
const { titulo, logo } = Astro.props;
---

<a href="/" class="w-fit h-full flex justify-center">
    <img
        id="logo"
        src={logo}
        alt={titulo}
        class="rounded-full max-w-25 pointer-events-none w-[30vw]"
        fetchpriority="high"
        loading="eager"
    />
</a>
