---
const { class: className, titulo, logo } = Astro.props;
---

<a href="/" class={`flex h-fit w-fit justify-center ${className}`}>
    <img
        id="logo"
        src={logo}
        alt={titulo}
        width="75px"
        height="75px"
        class="pointer-events-none rounded-2xl border-3 border-(--color-border)"
        fetchpriority="high"
        loading="eager"
    />
</a>
