---
const { titulo, logo } = Astro.props;
---

<a href="/" class="flex h-full w-fit justify-center">
    <img
        id="logo"
        src={logo}
        alt={titulo}
        class="pointer-events-none w-[30vw] max-w-25 rounded-full"
        fetchpriority="high"
        loading="eager"
    />
</a>
