---
const { class: className, titulo, logo } = Astro.props;
---

<a href="/" class={`flex h-fit w-fit justify-center ${className}`}>
    <img
        id="logo"
        src={logo}
        alt={titulo}
        class="pointer-events-none w-[20vw] max-w-25 rounded-2xl border-3 border-(--color-separacion)"
        fetchpriority="high"
        loading="eager"
    />
</a>
