---
import ArrowLeftIcon from "@assets/arrow-left-bold-svgrepo-com.svg";
import Trash from "@assets/trash-svgrepo-com.svg";

const { mode } = Astro.props


---

{ mode == "pedido" && (

<div class="sticky top-0 flex items-center justify-between bg-(--color-background) py-2.5">
    <button id="btn-cerrar-modal" class="w-fit self-end rounded-full bg-(--color-secondary) p-2"
        aria-label="Volver a menu"
    >
        <ArrowLeftIcon
            width={20}
            height={20}
            class:list={"pointer-events-none"}
        />
    </button>
    <p class="text-xl text-bold">Mi pedido</p>
    <button
        id="btn-borrar-modal"
        class="w-fit self-end rounded-full p-2"
        aria-label="Borrar pedido"
    >
        <Trash width={20} height={20} class:list={"pointer-events-none"} />
    </button>
</div>
)}

{ mode == "checkout" && (

<div class="sticky top-0 flex items-center bg-(--color-background) py-2.5">
    <button
        id="btn-cerrar-checkout"
        class="w-fit rounded-full bg-(--color-secondary) p-2"
        aria-label="Volver a pedido"
    >
        <ArrowLeftIcon
            width={20}
            height={20}
            class:list={"pointer-events-none"}
        />
    </button>
    <p class="absolute left-6/12 m-0 transform -translate-x-1/2 text-lg text-bold">Terminar pedido</p>
</div>
)}


<style>
    @import "tailwindcss";
    button {
        @apply px-1.5 py-1.5 cursor-pointer rounded-full active:bg-(--color-active-secondary);
    }
</style>