---

---

<p id="barra-resumen" class="flex flex-col gap-0.5 leading-tight text-nowrap">
    <span class="font-semibold">
        Total:
        <span id="barra-resumen-total"></span>
    </span>

    <span
        id="barra-resumen-cantidad"
        class="overflow-hidden text-ellipsis text-(--color-text)/90"></span>
</p>
