---
import Plus from "@assets/plus-svgrepo-com.svg";
import Minus from "@assets/minus-svgrepo-com.svg";
---

<template id="item-pedido-template">
    <article
        class="item-pedido flex items-start justify-between gap-4 border-b border-(--color-border) py-3"
    >
        <div class="flex grow flex-col justify-between gap-1">
            <span class="nombre"></span>
            <span class="precio text-bold"></span>
        </div>
        <div
            class="controles flex w-fit items-center rounded-full bg-(--color-secondary) select-none"
        >
            <button data-action="remove-product" class="remove active:bg-(--color-active-secondary) rounded-full"
                ><Minus width={25} height={25} /></button
            >
            <span class="cantidad w-6 text-center"></span>
            <button data-action="add-product" class="add active:bg-(--color-active-secondary) rounded-full"
                ><Plus width={25} height={25} /></button
            >
        </div>
        <figure
            id="figure-producto"
            class="order-first aspect-square w-[20%] max-w-40 shrink-0"
        >
            <img
                src=""
                alt=""
                class="imagen-producto h-full w-full rounded-xl object-cover"
            />
        </figure>
    </article>
</template>

<style>
    @import "tailwindcss";
    button {
        @apply px-1.5 py-1.5;
    }
    svg{
        pointer-events: none;
    }
</style>
