---
import Icon from "./Icon.astro"
---

<div class="bg-(--color-secondary) -mx-2.5 w-auto">
    <Icon name="ticket" width="100%" height="30" stroke="none" class="text-(--color-secondary) relative top-[-15px]" />
    <div class="p-2">
        <p class="text-lg">Resumen de pedido:</p>
        <ul id="resumenPedido" class="flex flex-col gap-2 p-2"></ul>
        <div class="p-2 border-t border-dashed">
            <p id="envioPedidoContainer" class="flex justify-between">Envio: <span id="envioPedido"></span></p>
            <p class="flex justify-between text-lg">
                Total: <span id="totalPedido"></span>
            </p>
        </div>
    </div>
</div>

<style is:global>
    #resumenPedido .producto-resumen {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 10px;
    }
    #resumenPedido .producto-resumen span {
        display: block;
    }
    .oculto {
        display: none;
    }
</style>
